<div class="col-md-4">
    <div class="card artist-container shadow-sm" style="width: 18rem;">
        <img src="{{image}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>

            <div class='row'>
            <a href="/record/{{discId}}" class="btn btn-secondary">Ver Detalles</a>
            <form action="/record/delete" method="post">
                <input class="invForm" type="string" id="id" name='id' value="{{_id}}">

                <a href='#'><button type="submit" class="btn btn-secondary">Delete</button></a>

            </form>
            </div>
        </div>
    </div>
</div>