
<main>
<section class='jumbotron text-center'>
    <div class='container'>
        <h1>Welcome to {{this.username}} profile</h1>
        
        <p>Collection</p>
{{#each disk}}
        
        {{title}}

        
        <img src="{{image}}" alt="">
        
        
        
    
    </div>
</section>
</main>