
<main>
<section class='jumbotron text-center'>
    <div class='container'>
        <h1>Welcome to {{user.username}} profile</h1>
        <p>
            <a href='/user/{{user._id}}/collection'><button class='button-collection btn-primary'>Collection</button></a>
            <a href='/user/{{user._id}}/wishlist'><button class='button-collection btn-secondary'>Wishlist</button></a>
        </p>
    </div>
</section>
</main>