<section>
    <h2>Editar Perfil</h2>
    <form action="/user/{{_id}}/edit" method="post" enctype="multipart/form-data">
        <input type="file" name="imageFile"><br><br>
        <input type="submit" value="Subir">
    </form>
</section>