<main>

    <section class='jumbotron text center'>
        <div class='container'>
            <h1>{{user.username}} Collection </h1>
            {{#each disk}}
            <img src="{{image}}" alt="album cover">
            <p>{{title}}</p>
            <a href="/record/{{DiscId}}" class="btn btn-primary">Ver Detalles</a>
            {{/each}}
        </div>
    </section>
</main>