<main class='jumbotron'>
<h1>{{user.username}} Collection </h1>
    <section class="container justify-content-center">
        <div class='row'>
            {{#each disk}}
            {{> recordcard }}
            {{/each}}
        </div>
    </section>
</main>


