<main>
    <h1>{{user.username}} Wishlist </h1>
    <section class="container justify-content-center">
        <div class='row'>
            {{#each disk}}
            <div class="col-md-4">

                <div class="card artist-container shadow-sm" style="width: 18rem;">
                    <img src="{{image}}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>

                        <a href="/record/{{DiscId}}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</main>