<main>
    <h1>{{user.username}} Wishlist </h1>
    <section class="container justify-content-center">
        <div class='row'>
            {{#each disk}}
            {{> recordcard this}}
            {{/each}}
        </div>
    </section>
</main>