body {
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 70px;
}

#errorMsg {
  background-color: red;
  color: white;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.button-collection {
 display: inline-block;
 font-weight: 400;
 color: #212529;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: .375rem .75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: .25rem;
 transition: color .15s ease-in-out,
 background-color .15s ease-in-out,
 border-color .15s ease-in-out,
 box-shadow .15s ease-in-out;
}

.tex-center {
  text-align: center !important
}
.btn-primary {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

img{
  width: 300px;

}

.main-page-container{
  background-image: url(../images/spotify-background.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-container{
  background-color: rgba(255, 255, 255, 0.4);
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
}

.artist-container img{
  height: 300px;
  object-fit: cover;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  // background-clip: border-box;
  // border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin-bottom: 35px;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}

h1 {
  text-align: center;
  margin-bottom: 20px,
}

.audioTracks{
  display: flex;
  justify-content: space-between;
}
