
<div class="container justify-content-center">
<h1>Records found</h1>
    <div class="row">
        {{#each data.results}}
        <div class="col-4">
            <article class="artist-container">
                <img src="{{this.cover_image}}" alt="Photo">
              <a href="/record/{{this.id}}" >{{this.title}}</a>

                
            </article>
        </div>

        {{/each}}
    </div>
</div>